<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/front}">
<head><title layout:fragment="title">Connexion</title></head>
<body>
    <main layout:fragment="content">
        <div class="page page-center">
            <div class="container container-tight py-4">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="h2 text-center mb-4">Login to your account</h2>
                        <form th:action="@{/users/login}" method="POST">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" autocomplete="off" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">
                                    Password
                                    <span class="form-label-description">
                                        <a href="">I forgot password</a>
                                    </span>
                                </label>
                                <div class="input-group input-group-flat">
                                    <input type="password" name="password" class="form-control" placeholder="Your password" autocomplete="off" />
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" />
                                    <span class="form-check-label">Remember me on this device</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="text-center text-secondary mt-3">Don't have account yet? <a href="/users/register" tabindex="-1">Sign up</a></div>
            </div>
        </div>
    </main>
</body>
</html>
