<div class="experience-info-item">
    <div class="row">
        <div class="col-md-4">
            <h4 class="experience-designation"><span x-text="name">default-content</span></h4>
            <p class="mb-1"><a href="https://github.com/kainovaii/MineVote" class="slide-vertical colored" target="_blank" data-splitting><span x-text="repo">default-content</span></a></p>
            <p class="status"><span x-text="techno">default-content</span></p>
        </div>
        <div class="col-md-8">
            <div class="experience-company-info">
                <h5>About</h5>
                <p><span x-text="about">default-content</span></p>
            </div>
        </div>
    </div>
</div>